# Ejercicios

Usando el archivo data/parsed.csv y el material de este capítulo, complete los siguientes ejercicios para practicar sus habilidades con pandas:

1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.
2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.
3. Calcular las estadísticas resumidas de los terremotos en Nevada.
4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, Antártida (busca Antarctic), Bolivia,
California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.
5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.
6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [145]:
import pandas as pd
import numpy as np

In [156]:
df = pd.read_csv ("data/parsed.csv")
df
df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

In [157]:
# Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.

df_jpn = df.set_index('parsed_place').filter(like='Japan', axis=0).filter(items=['mag', 'magType'])
df_mag_max = df_jpn.loc[
    df_jpn.magType.isin(['mb']),
    ['mag', 'magType']
]
print(np.percentile(df_mag_max['mag'], 95))
df_mag_max.describe(percentiles=[0.95]) # Otra manera de ibtener el mismo dato

4.9

             mag
count  50.000000
mean    4.530000
std     0.266688
min     4.000000
50%     4.600000
95%     4.900000
max     5.400000

In [158]:
#Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.

df_indo = df.set_index('parsed_place').filter(like='Indonesia', axis=0).filter(items=['type', 'tsunami'])
#print(df_indo[df_indo['tsunami']==1])
len(df_indo[df_indo['tsunami']==1]) / len (df_indo) *100

23.12925170068027

In [159]:
# Calcular las estadísticas resumidas de los terremotos en Nevada. (min, max, media, desviacion estandar)
df_nevada = df.set_index('parsed_place').filter(like='Nevada', axis=0).filter(items=['type', 'mag'])
df_nevada['mag'].describe()

count    681.000000
mean       0.500073
std        0.696710
min       -0.500000
25%       -0.100000
50%        0.400000
75%        0.900000
max        2.900000
Name: mag, dtype: float64

In [254]:
"""
Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, 
Antártida (busca Antarctic), Bolivia, California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, 
México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.
"""

df['cinturon_fuego'] = df['parsed_place'].isin(['Alaska','Antarctic', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 'Ecuador', 'Fiyi', 'Guatemala', 
                             'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico', 'New Zealand', 'Peru', 'Philippines', 'Russia', 'Taiwan', 
                             'Tonga', 'Washington']) 
              

#df['cinturon_fuego'] = k

df.set_index('parsed_place').filter(like='Mexico', axis=0).filter(items=['cinturon_fuego']).head()

              cinturon_fuego
parsed_place
Mexico                  True
Mexico                  True
Mexico                  True
Mexico                  True
Mexico                  True

In [261]:
# Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.


#k = {True : 1, False : 0}
#df['cinturon_fuego'] = df['cinturon_fuego'].map({True : 1, False : 0})
#df['cinturon_fuego'].dtypes
df['cinturon_fuego'].value_counts()

cinturon_fuego
True     7123
False    2209
Name: count, dtype: int64