# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:

1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:
- a) Lee los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv.
- b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo); así es como se busca una acción. En este caso, los nombres de los archivos son los símbolos de los teletipos.
- c) Agréguelos en un dataframe.
- d) Guarda el resultado en un archivo CSV llamado faang.csv.
2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.
3. Encuentre las siete filas en faang con el valor más bajo para el volumen.
4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID
(identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.
5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.
6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:
- a) Lea el archivo covid19_casos.csv.
- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.
- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.
7. Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.

------------------------------------------------------------------------------------------------------------------------------------------

# DESARROLLO

In [99]:
import pandas as pd
import numpy as np
from datetime import datetime

#### 1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:

In [4]:
"""
a) Lee los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv.
"""

appl = pd.read_csv ('aapl.csv')
amzn = pd.read_csv ('amzn.csv')
fb = pd.read_csv ('fb.csv')
goog = pd.read_csv ('goog.csv')
nflx = pd.read_csv ('nflx.csv')

In [28]:
"""
b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo); 
así es como se busca una acción. En este caso, los nombres de los archivos son los símbolos de los teletipos.
"""
appl['ticker'] = 'AAPL'
amzn['ticker'] = 'AAMZN'
fb['ticker'] = 'AFB'
goog['ticker'] = 'AGOOG'
nflx['ticker'] = 'ANFLX'

In [29]:
"""
c) Agréguelos en un dataframe.
"""
df = pd.concat ([fb, amzn, appl, nflx, goog], axis = 0)
df.shape

(1255, 7)

In [30]:
"""
d) Guarda el resultado en un archivo CSV llamado faang.csv.
"""

df.to_csv ('faang.csv')

#### 2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

In [ ]:
#Conversion tipo de datos de las columnas 'date' t 'volume'

faang['date'] = pd.to_datetime(faang['date'])
faang['volume'] = faang['volume'].astype(int)

# Ordenar el df por fecha y ticker

faang.set_index(['date', 'ticker'])

#### 3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

In [ ]:
faang['volume'].min()
faang.sort_values(by='volume', ascending=True).head(7)

#### 4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID (identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.

In [ ]:
melted_faang = faang.melt(
    id_vars=['date', 'ticker'],
    value_vars=['high', 'low', 'open', 'close', 'volume'],
    value_name='variaciones    ',
    var_name='descripcion'
)
melted_faang

#### 5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.

1. Evidenciar cuales son los datos defectuosos o mal ingresados
2. por medio de la variable 'date' ('2018-07-26') como referencia, podemos proceder a realizar los cambios por los valores correctos

In [ ]:
faang[faang['date'].isin(['2018-07-26'])]

In [ ]:
melted_faang[melted_faang['date'].isin(['2018-07-26'])]

6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:

In [142]:
"""
a) Lea el archivo covid19_casos.csv.
"""
covid = pd.read_csv ('covid19_cases.csv')

In [146]:
"""
b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
"""
covid['fecha'] = pd.to_datetime(covid['dateRep'], errors='ignore')

In [147]:
"""
c) Establece la columna de fecha como índice y ordena el índice.
"""

covid.set_index('fecha', inplace=True)

In [148]:
"""
d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método 
replace() puede ejecutarse en todo el dataframe.
"""

covid['countriesAndTerritories'] = covid['countriesAndTerritories'].replace({'United_States_of_America' : 'USA', 'United_Kingdom' : 'UK'})

In [158]:
"""
e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, 
India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
"""
#covid[covid['countriesAndTerritories'].isin(['Argentina', 'Brasil', 'China', 'Colombia', 
#'India', 'Italia', 'México', 'Perú', 'Rusia', 'España', 'Turquía', 'UK', 'USA'])['cases']]

covid.loc[
    (covid['countriesAndTerritories'].isin(['Argentina', 'Brasil', 'China', 'Colombia', 
'India', 'Italia', 'México', 'Perú', 'Rusia', 'España', 'Turquía', 'UK', 'USA'])),
    ['countriesAndTerritories', 'cases']
]

           countriesAndTerritories  cases
fecha
01/01/2020                   India      0
01/01/2020                   China      0
01/01/2020                     USA      0
01/01/2020                      UK      0
02/01/2020                   China      0
...                            ...    ...
18/09/2020               Argentina  11674
18/09/2020                   China     44
18/09/2020                      UK   3395
18/09/2020                Colombia   7568
18/09/2020                     USA  43567

[1435 rows x 2 columns]

In [163]:
"""
f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los 
recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.
"""

covid_pivot = pd.pivot_table (covid, values=['cases'], index='fecha', columns='countriesAndTerritories')
covid_pivot.fillna('0', inplace=True)
covid_pivot

C:\Users\Sandia\AppData\Local\Temp\ipykernel_13304\1807546496.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  covid_pivot.fillna('0', inplace=True)

                              cases                                          \
countriesAndTerritories Afghanistan Albania Algeria Andorra Angola Anguilla
fecha
01/01/2020                      0.0       0     0.0       0      0        0
01/02/2020                      0.0       0     0.0       0      0        0
01/03/2020                      0.0       0     2.0       0      0        0
01/04/2020                     25.0    20.0   132.0     6.0    0.0      0.0
01/05/2020                    222.0     7.0   158.0     2.0    0.0      0.0
...                             ...     ...     ...     ...    ...      ...
31/01/2020                      0.0       0     0.0       0      0        0
31/03/2020                     27.0    11.0    73.0    36.0    0.0      0.0
31/05/2020                    866.0    23.0   133.0     0.0    7.0      0.0
31/07/2020                     71.0    92.0   602.0     4.0   78.0      0.0
31/08/2020                     19.0   101.0   364.0     0.0   73.0      0.0

                                                                     ...  \
countriesAndTerritories Antigua_and_Barbuda Argentina Armenia Aruba  ...
fecha                                                                ...
01/01/2020                                0         0     0.0     0  ...
01/02/2020                                0         0     0.0     0  ...
01/03/2020                                0         0     1.0     0  ...
01/04/2020                              0.0       0.0    39.0   5.0  ...
01/05/2020                              0.0     143.0    82.0   0.0  ...
...                                     ...       ...     ...   ...  ...
31/01/2020                                0         0     0.0     0  ...
31/03/2020                              0.0     146.0    50.0     0  ...
31/05/2020                              0.0     795.0   355.0   0.0  ...
31/07/2020                              0.0    5641.0   354.0   1.0  ...
31/08/2020                              0.0    9217.0   124.0  22.0  ...

                                                     \
countriesAndTerritories United_Republic_of_Tanzania
fecha
01/01/2020                                        0
01/02/2020                                        0
01/03/2020                                        0
01/04/2020                                      0.0
01/05/2020                                      0.0
...                                             ...
31/01/2020                                        0
31/03/2020                                      5.0
31/05/2020                                      0.0
31/07/2020                                      0.0
31/08/2020                                      0.0

                                                                         \
countriesAndTerritories United_States_Virgin_Islands Uruguay Uzbekistan
fecha
01/01/2020                                         0       0          0
01/02/2020                                         0       0          0
01/03/2020                                         0       0          0
01/04/2020                                       0.0     6.0       24.0
01/05/2020                                       0.0    13.0       44.0
...                                              ...     ...        ...
31/01/2020                                         0       0          0
31/03/2020                                         0    29.0        4.0
31/05/2020                                       0.0     5.0       41.0
31/07/2020                                       0.0     6.0      686.0
31/08/2020                                       5.0    15.0      348.0


countriesAndTerritories Venezuela Vietnam Western_Sahara Yemen Zambia Zimbabwe
fecha
01/01/2020                      0     0.0              0     0      0        0
01/02/2020                      0     0.0              0     0      0        0
01/03/2020                      0     0.0              0     0      0        0
01/04/2020                    0.0     6.0              0     0    0.0      1.0
01/05/2020                    2.0     0.0            0.0   0.0    9.0      0.0
...                           ...     ...            ...   ...    ...      ...
31/01/2020                      0     3.0              0     0      0        0
31/03/2020                   16.0     3.0              0     0    6.0      0.0
31/05/2020                   90.0     0.0            0.0  23.0    0.0     14.0
31/07/2020                 1288.0    50.0            0.0  15.0  306.0    213.0
31/08/2020                  922.0     0.0            0.0   6.0  123.0      6.0

[262 rows x 210 columns]

#### 7. Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.

In [176]:
df = pd.read_csv ('covid19_total_cases.csv', index_col='index')
df.T.sort_values('cases', ascending=False).head(20)

index           cases
USA           6724667
India         5308014
Brazil        4495183
Russia        1091186
Peru           756412
Colombia       750471
Mexico         688954
South_Africa   657627
Spain          640040
Argentina      601700
Chile          442827
France         428696
Iran           416198
UK             385936
Bangladesh     345805
Saudi_Arabia   328720
Iraq           311690
Pakistan       305031
Turkey         299810
Italy          294932