# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [ ]:
lista_alumnos = ["juan", "luis", "pedro", "sol"]
lista_alumnos_1 = ["juan", "pedro"]
lista_alumnos_2 = ["luis", "sol"]

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [ ]:
lista_vacia = []

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [1]:
mi_lista = [1, "dos", 3., ("cuatro"), [5,]]
mi_lista

[1, 'dos', 3.0, 'cuatro', [5]]

3. Hallar la longitud de **mi_lista**

In [2]:
print (len (mi_lista))

5

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [8]:
print (mi_lista[0], " - ", mi_lista[2], " - ", mi_lista[-1])

1  -  3.0  -  [5]

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [10]:
nombre = "Luis Manuel Chavarro"
edad = 44
altura = 1.68
pais = "Colombia"
python_version = "3,11"

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [12]:
tipos_de_datos_mezclados = [nombre, edad, altura, pais, python_version]
tipos_de_datos_mezclados

['Luis Manuel Chavarro', 44, 1.68, 'Colombia', '3,11']

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [70]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

8. Imprime **it_companies** usando print()

In [56]:
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Imprimir el número de empresas de la lista

In [71]:
print (len (it_companies))

7

11. imprimir *Google

In [72]:
a = it_companies.index("Google")
print ("*" + it_companies[1])

*Google

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

11. Asignar un nuevo valor al último elemento de la lista

In [73]:
print (it_companies [-1])

Amazon

12. Imprimir la lista después de modificar una de las empresas

In [74]:
it_companies [3] = "Dell"
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Dell', 'IBM', 'Oracle', 'Amazon']

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

In [75]:
it_companies.append("Apple")
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Dell', 'IBM', 'Oracle', 'Amazon', 'Apple']

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [76]:
"Apple" in it_companies

True

15. Ordena la lista utilizando el método `sort()`.

In [77]:
it_companies.sort()
print (it_companies)

['Amazon', 'Apple', 'Dell', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [78]:
it_companies.reverse()
print (it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Dell', 'Apple', 'Amazon']

17. Elimine las 3 primeras empresas de la lista

In [79]:
for i in range (3):
    it_companies.pop(0)

print (it_companies)

['Google', 'Facebook', 'Dell', 'Apple', 'Amazon']

18. Elimine la última empresa informática de la lista

In [80]:
a = it_companies.index("Google")
b = it_companies.index("Dell")
c = it_companies.index("Apple")

if a > b and a > c:
    it_companies.pop(a)
elif b > c:
    it_companies.pop(b)
else:
    it_companies.pop(c)

print (it_companies)

['Google', 'Facebook', 'Dell', 'Amazon']

19. Eliminar todas las empresas de TI de la lista

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [81]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. De la lista **end** imprimir 'HTML'

In [82]:
print (end [0][0])

HTML

22. En la lista final, imprima la "C" de la palabra "CSS".

In [83]:
print (end [0][1][0])

C

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [85]:
tup_1 =("T",)

tup_1

('T',)

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [91]:
print (type (tup_1))

<class 'tuple'>

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [93]:
tup_1 =("T",)
tup_1 = list (tup_1)
list_1 = ("H", "E", " ", "B", "R", "I", "D", "G", "E")
tup_1.extend(list_1)
tup_1 = tuple (tup_1)
print (tup_1)

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [94]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [98]:
mi_conjunto = set (lista_repes)
print (lista_repes)

{'science', 'data', 'clara', 'diomedes', 'python', 'gabriel'}

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

In [99]:
print (mi_conjunto[0])

TypeError: 'set' object is not subscriptable

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?

In [101]:
mi_conjunto = list (mi_conjunto)
print (mi_conjunto[0])
mi_conjunto

python

['python', 'science', 'data', 'clara', 'gabriel', 'diomedes']