# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [75]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [76]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Paso 3. Asígnalo a una variable llamada chipo.

In [77]:
chipo = pd.read_csv (url, sep = "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Nombre del producto de valor máximo

In [78]:
chipo["price"] = chipo ["item_price"].apply(lambda x:float(x[1:]))
chipo [chipo["price"]==chipo["price"].max()]
chipo["price_unit"]=chipo["price"]/chipo["quantity"]
chipo["price_unit"].max()
chipo[chipo["price_unit"]==chipo["price_unit"].max()].drop_duplicates(["item_name"])

,order_id,quantity,item_name,choice_description,item_price,price,price_unit
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [79]:
chipo[chipo["price_unit"] > 10].sort_values(by="price_unit", ascending=False).drop_duplicates("item_name")

,order_id,quantity,item_name,choice_description,item_price,price,price_unit
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",$11.89,11.89,11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$11.89,11.89,11.89
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89,11.89,11.89
1713,691,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$11.75,11.75,11.75
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$23.50,23.50,11.75
3439,1381,1,Steak Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
1542,627,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$11.75,11.75,11.75
1754,708,1,Barbacoa Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, So...",$11.75,11.75,11.75
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25,11.75
3512,1412,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75
3547,1426,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$11.75,11.75,11.75
1677,679,1,Carnitas Burrito,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$11.75,11.75,11.75
1632,658,1,Carnitas Crispy Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75,11.75,11.75
2898,1153,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75
2787,1106,1,Barbacoa Crispy Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$11.75,11.75,11.75
3093,1232,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Sour Cream, Chees...",$11.25,11.25,11.25
4438,1768,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25,11.25,11.25
4471,1782,1,Veggie Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25,11.25
3175,1269,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Sou...",$11.25,11.25,11.25
3082,1228,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25,11.25,11.25
3192,1276,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.25,11.25,11.25
3130,1248,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.25,11.25,11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98,10.98

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [80]:
chipo.drop_duplicates("item_name")[["item_name", "price_unit"]]

                                  item_name  price_unit
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
18                              Canned Soda        1.09
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
281                        Steak Salad Bowl       11.89
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
445                                    Bowl        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
664                             Steak Salad        8.99
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

### Paso 6. Ordenar por el nombre del artículo

In [81]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price,price,price_unit
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [82]:
print(chipo[chipo["price_unit"]==chipo["price_unit"].max()].drop_duplicates(['item_name'])[['item_name', 'quantity', 'price_unit']])
chipo[chipo["price_unit"]==chipo["price_unit"].max()][['quantity','price_unit']].value_counts()

                item_name  quantity  price_unit
281      Steak Salad Bowl         2       11.89
1132  Carnitas Salad Bowl         1       11.89
1229  Barbacoa Salad Bowl         1       11.89

quantity  price_unit
1         11.89         26
2         11.89          2
Name: count, dtype: int64

In [83]:
chipo[chipo['price_unit']==chipo['price_unit'].max()].drop_duplicates('quantity')

,order_id,quantity,item_name,choice_description,item_price,price,price_unit
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89,11.89

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [104]:
chipo[chipo['item_name']=='Veggie Salad'].sum()['quantity']

6

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [103]:
chipo.loc [(chipo['item_name'].isin(['Canned Soft Drink', 'Canned Soda'])) & (chipo['quantity'] > 1)].count()['quantity']

57